@font-face {
    font-family: "TTHoves-Regular";
    src: url(../fonts/TTHoves-Regular.woff2);
}
@font-face {
    font-family: "TTHoves-Medium";
    src: url(../fonts/TTHoves-Medium.woff2);
}
@font-face {
    font-family: "TTNormsPro-Regular";
    src: url(../fonts/TTNormsPro-Regular.woff2);
}
@font-face {
    font-family: "TTNormsPro-Medium";
    src: url(../fonts/TTNormsPro-Medium.woff2);
}