*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "TTNormsPro-Medium";
    color: #333;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}